#about h3 {
    font-size: 30px;
    }
    
    .about-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        /* padding-right: 5pc */
    }
    
    .about-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 50%;
    }
    
    .outer-img {
        /* height: 20pc;
        width: 20pc;
        min-width: 20pc;
        border-radius: 16pc; */
        background: white;
        position: relative;
        box-shadow: 9px 13px 37px 2px rgba(207, 207, 207, 0.575),-8px 1px 57px 29px rgba(207, 207, 207, 0.555), inset 0 -50px 20px -20px rgba(0, 0, 0, 0.2);
        -ms-flex-negative: 1;
            flex-shrink: 1;
    }
    
    .bg-image {
        background: url('../images/griffphoto.webp');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        /* height: 25pc;
        width: 20pc;
        border-radius: 16pc; */
        top: 38%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    
    .about-btn-sec {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .about-content p {
        line-height: 1.5;
    }
    
    @media screen and (min-width: 1200px) {
        /* .about-btn-sec {
            width: 70%;
            align-items: center;
        } */
    }
    
    @media screen and (max-width: 1200px) {
        
    }
    
    @media screen and (min-width: 900px) {
        .outer-img {
            height: 20pc;
            width: 20pc;
            min-width: 20pc;
            border-radius: 16pc;
        }
    
        .bg-image {     
            height: 25pc;
            width: 20pc;
            border-radius: 16pc;
        }
    
        .about-right {
            padding-right: 7pc;
            text-align: justify;
                width: 50%;
            }
    }
    
    @media screen and (max-width: 900px) {
        .about-btn-sec {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    
        .outer-img {
            height: 10pc;
            width: 10pc;
            min-width: 10pc;
            border-radius: 16pc;
        }
    
        .bg-image {     
            height: 12.5pc;
            width: 10pc;
            border-radius: 16pc;
        }
    
        .about-content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    
        #about h2 {
            padding: 30px;
        }
    
        .about-right {
            text-align: center;
            margin: 0 30px;
        }
    
        /* .about-btn-sec button {
            width: 30%;
            margin: 0 auto;
        } */
    }
        