/* Contact Page */
/* rest of styles is on the input.css */
body {
  overflow: visible;
}

h1 {
  font-size: 50px;
  padding: 2pc;
  text-align: center;
  text-shadow: 12px 5px 24px #5e76f6, -5px 5px 36px #5e76f6,
    6px 5px 29px #5e76f6, -2px -5px 10px #5e76f6;
  -webkit-filter: drop-shadow(55px -2px 30px #5e76f6);
          filter: drop-shadow(55px -2px 30px #5e76f6);
}

#contact-form {
  position: relative;
}

#behind-form-shape {
  position: absolute;
  right: 50%;
  top: 30%;
  z-index: -10;
  
}

.contact-btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
  
.contact-btn-area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 900px) {
  
}

  @media screen and (max-width: 900px) {
 

  }
  
