/* hero */
.hero {
  padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Cabin', sans-serif;
     /* overflow: hidden; */
}

.hero h1, #skill {
    line-height: 1.5;
  }

#myName {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: block;
    padding-bottom: 40px;
    /* margin: 8pc 0; */
}

.hero-headers {
  -webkit-filter: drop-shadow(55px -2px 30px var(--primaryColor));
          filter: drop-shadow(55px -2px 30px var(--primaryColor))
}

.hero-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#header h1, h5, span, img {
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 12px 5px 24px var(--primaryColor), -5px 5px 36px var(--primaryColor), 6px 5px 29px var(--primaryColor), -2px -5px 10px var(--primaryColor);
    -webkit-filter: drop-shadow(55px -2px 30px var(--primaryColor));
            filter: drop-shadow(55px -2px 30px var(--primaryColor))
}

.hero-left h1, span {
    margin: 0;
}

.hero-right {
    height: 70vh;
}

.hero-button-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.hero-button-sec h5 {
  font-size: 25px;
}

/* .hero-button-sec button {
text-shadow: 12px 5px 24px #5e76f6, -5px 5px 36px #5e76f6, 6px 5px 29px #5e76f6, -2px -5px 10px #5e76f6;
    filter: drop-shadow(55px -2px 30px #5e76f6)
} */

#spin-logo {
  position: absolute;
  left: 40%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
  -webkit-animation: roll-in-left-boom 3s ease-out both;
          animation: roll-in-left-boom 3s ease-out both;
}

/* hero */
@media screen and (min-width: 1200px) {
    .hero {
      padding: 3pc;
    }

    #skill {
      font-size: 70px;
    }
  
    .hero-left {
      padding: 0 2px 0 2pc;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    #skill {
      font-size: 60px;
    }
  }

  @media screen and (min-width: 815px) and (max-width: 1000px) {
    #skill {
      font-size: 50px;
    }
  }

  /* image */
  @media screen and (max-width: 815px) {
    .hero {
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 12pc 0 1pc 0;
    }

    #spin-logo {
      display: none;
    }

    .hero-left {
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      text-align: center;
      width: 100%;
    }

    .hero h1 {
      padding: 2pc;
    }

    .hero h1 {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }

    #skill {
        font-size: 55px;
    }

    .hero-right {
      display: none;
    }

    .hero-button-sec {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    #header h1, h5, span, img {
      -webkit-filter: drop-shadow(55px -2px 10px var(--primaryColor));
              filter: drop-shadow(55px -2px 10px var(--primaryColor))
    }
  }

  @media screen and (min-width: 815px) {
    .hero {
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      padding: 8pc 1pc 4pc 1pc;
    }

    /* #spin-logo {
      animation: roll-in-left-boom 3s ease-out both;
    } */

    .hero-left {
      padding-left: 4pc;
      width: 65%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    #myName {
      font-size: 30px;
    }

    .hero-right {
      width: 35%;
    }

    .hero h1, h5
    button {
      padding-left: 1.5pc;
    }

    .hero h1 {
      padding: 4pc 0 4pc 0;
    }

    #skill {
      white-space: no-wrap; /* Keeps the content on a single line */
    }

    .hero-button-sec {
      /* justify-content: space-between;
      align-items: flex-start; */
      width: 70%;
    }
  }
  
  @media screen and (min-width: 500px) {
    .hero {
      text-align: left;
    }
  }

 

  
 
  
