/* Navbar */
header {
  position: relative;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  /* filter: drop-shadow(55px -2px 30px #5e76f6); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-active {
  background-color: var(--primaryColor);
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  text-shadow: 5px 5px 24px #5e76f6, -5px 5px 36px #5e76f6, 6px 5px 29px #5e76f6, -2px -5px 10px #5e76f6;
  -webkit-filter: drop-shadow(55px -2px 30px #5e76f6);
  filter: drop-shadow(55px -2px 30px #5e76f6);
  cursor: pointer;
  margin-left: 15px;
}

.nav-left img {
  -webkit-filter: drop-shadow(2px -9px 8px var(--primaryColor));
          filter: drop-shadow(2px -9px 8px var(--primaryColor));
  /* box-shadow: 2px -9px 8px var(--primaryColor); */
}

.nav-left h2 {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.shape-logo {
  -webkit-filter: drop-shadow(1px -2px 30px #5e76f6);
          filter: drop-shadow(1px -2px 30px #5e76f6);
}

/* hamburger */
.nav-right button {
  background: none;
  border: none;
}

.icon ion-icon {
  cursor: pointer;
  color: var(--textColor);
  width: 4pc;
  height: 4pc;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-filter: drop-shadow(1px -2px 30px #5e76f6);
          filter: drop-shadow(1px -2px 30px #5e76f6);
  text-shadow: 5px 5px 24px #5e76f6, -5px 5px 36px #5e76f6, 6px 5px 29px #5e76f6,
    -2px -5px 10px #5e76f6;
}

.icon ion-icon:hover {
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
  color: var(--secondaryColor);
}

/* navbar */
#menu {
  overflow: hidden;
  padding-top: 180px;
}

#menu li {
  list-style: none;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  color: var(--textColor);
  width: 100vw;
  overflow: hidden;
  font-size: 80px;
  text-shadow: none;
}

#menu li:hover {
  background: var(--primaryColor);
  -webkit-animation: colorSlide 1s;
          animation: colorSlide 1s;
  cursor: pointer;
}
