.shapes {
  position: absolute;
  background: none;
  width: 95%;
  height: 90%;
  z-index: -2;
}

/* shape logos */
/* small logo */
.shape-logo {
  text-align: center;
  padding-right: 10px;
  background: none;
  /* filter: drop-shadow(0 0 75px var(--primaryColor));
  text-shadow: 0 0 5px var(--primaryColor), 0 0 10px var(--primaryColor),
    0 0 15px var(--primaryColor), 0 0 20px var(--primaryColor),
    0 0 30px var(--primaryColor), 0 0 40px var(--primaryColor),
    0 0 55px var(--primaryColor), 0 0 75px var(--primaryColor); */
}

.circle {
  background: none;
  border: solid var(--textColor) 5px;
  width: 4.2pc;
  height: 4.2pc;
  border-radius: 30pc;
  position: relative;
  -webkit-filter: drop-shadow(2px -9px 8px var(--primaryColor));
          filter: drop-shadow(2px -9px 8px var(--primaryColor));
}

.square {
  border: solid var(--textColor) 5px;
  width: 2.1pc;
  height: 2.1pc;
  margin: 0 auto;
  position: absolute;
  right: 12px;
  top: 12px;
  -webkit-filter: drop-shadow(-2px 19px 8px var(--primaryColor));
          filter: drop-shadow(-2px 19px 8px var(--primaryColor));
}

.diamond {
  border: solid var(--textColor) 5px;
  margin: 0 auto;
  height: 0.6pc;
  width: 0.6pc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 7px;
  top: 7px;
  -webkit-filter: drop-shadow(-6px 3px 34px var(--primaryColor));
          filter: drop-shadow(-6px 3px 34px var(--primaryColor));
}

/* small logo end*/

/* big logo */
.big-shape-logo {
  text-align: center;
}

.big-shape-circle {
  border: solid var(--textColor) 10px;
  width: 20pc;
  height: 20pc;
  border-radius: 30pc;
  position: relative;
}

.big-shape-square {
  border: solid var(--textColor) 10px;
  width: 12pc;
  height: 12pc;
  margin: 0 auto;
  position: absolute;
  right: 52px;
  top: 52px;
}

.big-shape-diamond {
  border: solid var(--textColor) 10px;
  margin: 0 auto;
  height: 6pc;
  width: 6pc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 36px;
  top: 36px;
}
