@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --background: black;
    --textColor: white;
    --primaryColor: #5e76f6;
    --secondaryColor: blue;
  }

  body {
    margin: 0;
    background-color: var(--background);
    color: var(--textColor);
    overflow: hidden;
    font-family: "Righteous", cursive;
    position: relative;
}

.hide {
  display: none;
}

.section-header {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  z-index: 20;
}
