@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --background: black;
    --textColor: white;
    --primaryColor: #5e76f6;
    --secondaryColor: blue;
  }

  body {
    margin: 0;
    background-color: var(--background);
    color: var(--textColor);
    overflow: hidden;
    font-family: "Righteous", cursive;
    position: relative;
}

.hide {
  display: none;
}

.section-header {
  font-weight: 900;
  text-align: center;
  z-index: 20;
}

.form-space {
  padding: 2pc 0;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .section-header {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px) {
  .section-header {
    font-size: 60px;
  }
  
  p {
    /* font-size: 20px; */
  }
}
